# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode & IDE settings
.vscode/
.idea/

# Logs & temp files
*.log
*.tmp

# Data files since we have csv files given
data/*.csv

# OS files
.DS_Store
Thumbs.db
gg